.user-info-avatar > .avatar-flair.rounded, user-info-avatar > .user-profile-avatar .avatar-flair.rounded {
  background-size: 30px 30px !important;
  border-radius: 24px !important;
  width: 40px !important;
  height: 40px !important;
  bottom: 2.5em !important;
  left: 6.5em !important;
  position: relative;
}

.featured-user-banner {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  text-align: justify;

  border: #{$featured_user_banner_border_thickness}px solid $featured_user_banner_border_color;
  border-radius: #{$featured_user_banner_border_roundness}px;

  padding: 1em;
}

.featured-user-banner-main {
  display: flex;
  flex-direction: row;
  .user-info, .user-info > .details {
    flex: 1;
  }
}

.featured-banner-text {
  text-align: $featured_user_banner_text_align;
}

.user-avatar {
  order: 1;
  margin-right: 2em;
  width: 8em;
}

.user-profile-names {
  order: 2;
  margin-right: 1.5em;
  margin-left: 1.5em;
}

.user-stats-section {
  order: 3;
}

.user-info, .user-info > .details {
  display: flex;
}

.featured-user-card-icon > .fk-d-tooltip__trigger > .fk-d-tooltip__trigger-container > .fk-d-tooltip__icon > svg.svg-icon.d-icon {
  color: $featured_user_featured_icon_color_on_user_card !important;
}
