.user-info-avatar > .avatar-flair.rounded, user-info-avatar > .user-profile-avatar .avatar-flair.rounded {
  background-size: 30px 30px !important;
  border-radius: 24px !important;
  width: 40px !important;
  height: 40px !important;
  bottom: 2.5em !important;
  left: 6.5em !important;
  position: relative;
}

.featured-user-banner {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.user-avatar {
  order: 1;
  margin-right: 2em;
  width: 8em;
}

.user-profile-names {
  order: 2;
  margin-right: 2em;
  margin-left: 0.5em;
}

.user-stats-section {
  order: 3;
}

.user-info, .user-info > .details {
  display: flex;
}
